.animatedBackground {
  /* height: 100%; */
  background: linear-gradient(90deg, #ff7eb3, #ff758c, #ff9a85, #ffc670, #ffefa6);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}